
.show_name {
    position: absolute;
    top: 0;
    right: 0;
}

form {
    display: inline-block;
}
a.list {
    margin-right: 7px;
}

input[type="checkbox"] {
}
ul.pagination {
    list-style: none;
    display: flex;
}

ul.pagination li {
    margin-right: 10px;
}